/* Rotating Card Container */
.rotating-card {
  width: 300px;
  height: 400px;
  perspective: 150rem;
  position: relative;
}

/* Card Sides */
.rotating-card .card-side {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.stock-ticker {
  font-size: 30px;
  padding-block: 8px;

  overflow: hidden;
  user-select: none;
  display: flex;
  position: relative;
  top: 115px;
  width: 100vw;
  gap: 2rem;
  background-color: rgb(255, 255, 255); 
}
li {
  font-family: "Anton";
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.stock-ticker ul {
  list-style: none;
  display: flex;
  gap: 10rem; 
  animation: scroll 15s linear infinite;
  white-space: nowrap; 
}
@keyframes scroll {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(-100%); 
  }
}
/* Front Side */
.rotating-card .card-side.front {
  transform: rotateY(0deg);
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.card-title {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.rotating-card .card-side.back {
  transform: rotateY(-180deg);
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rotating-card:hover .card-side.front {
  transform: rotateY(180deg);
}

.rotating-card:hover .card-side.back {
  transform: rotateY(0deg);
}
.custom-heading {
  font-size: 12px; 
  font-weight: 400; 
  letter-spacing: -0.01562em; 
  color: #000000; 
}
