.product-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.Card {
  background-color: white;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease; 
  opacity: 0.9; 
}

.Card img {
  border-radius: 10px;
  width: 80%;
}

.Card h4 {
  margin: 10px 0;
  font-size: 18px;
}

.Card p {
  color: #555;
}

.Card button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Card button:hover {
  background-color: #000000;
}

.Card:hover {
  transform: translateY(-20px); 
  opacity: 1; 
}
