/* Profile Container */
.profile-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.profile-header {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Profile Info Sections */
.profile-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.profile-info label {
  font-size: 18px;
  color: #555;
  margin-bottom: 8px;
}

.profile-info input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s;
  background-color: white;
}

.profile-info input:focus {
  border-color: #171717;
  outline: none;
}

/* Profile Buttons */
.profile-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #101010;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-buttons button:hover {
  background-color: #000000;
}

.profile-buttons button:focus {
  outline: none;
}

.profile-buttons button.cancel-password-change {
  background-color: #464646;
}

.profile-buttons button.cancel-password-change:hover {
  background-color: #494949;
}

/* Favorites Section */
h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-cardprofile {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #ddd;
  cursor: pointer;
}

.product-cardprofile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.product-cardprofile img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-titleProfile {
  font-size: 18px;
  font-weight: bold;
  color: #434343;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.product-title:hover {
  color: #000000;
}

.product-priceProfile {
  font-size: 16px;
  color: #7c7c7c;
  margin-bottom: 15px;
}

.add-to-cart-btn {
  padding: 8px 18px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  background-color: #646464;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #000000;
}

.add-to-cart-btn:focus {
  outline: none;
}


.profile-container .loading {
  text-align: center;
  font-size: 18px;
  color: #888;
}
